* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
}

.video-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.navbr {
    background-color: rgb(12, 1, 1, 0.4) !important;
    height: 6rem !important;
    position: relative;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.nav-cont {
    color: white !important;
    font-size: 18px !important;
    margin-top: 0.8rem !important;
    padding: 1.5rem !important;
}

.nav-cont:hover {
    background-color: white !important;
    color: black !important;
    transition: 0.6s !important;
    border-radius: 0.6rem !important;
}

.navbutn {
    width: 180px !important;
    margin-left: 60px !important;
    background-color: transparent !important;
    color: white !important;
    font-size: 1.5vw;
    padding: 12px !important;
    border-color: white !important;
}

.navbutn:hover {
    background-color: white !important;
    color: rgb(63, 104, 239) !important;
    box-shadow: 0 0 18px rgb(63, 104, 239) !important;
    transition: 0.6s !important;
}

.logo {
    font-size: 3rem !important;
    color: var(--text-color) !important;
    font-weight: 800 !important;
    cursor: pointer !important;
    transition: 0.3s ease-in-out !important;
}

.logo:hover {
    transform: scale(1.1);
}

.hedar {
    text-align: center;
}

.crd-container {
    margin-left: 15% !important;
    margin-top: 3% !important;
    display: flex !important;
    flex-direction: row !important;
}

.foter {
    background: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(10px) !important;
    color: azure !important;
    width: 100% !important;
}

.crd-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    /* Ensure images don't overflow */
}

.crosel-img {
    width: 60% !important;
    height: auto;
    object-fit: cover;
    border-style: solid !important;
    border-color: white !important;
    border-radius: 25px !important;
}


@media(max-width:600px) {
    .crd-container {
        margin-left: 3rem;
    }

    .crd-content {
        flex-direction: column;
        width: 100%;
    }

    .crosel-img {
        width: 88% !important;
        border-style: solid !important;
        border-color: white !important;
        border-radius: 25px !important;

    }

    .navbr {
        width: 100% !important;
        min-width: 400px !important;
        height: 480vh !important;
        position: relative !important;
        padding: 1rem !important;
    }

    .nav-cont {
        margin-top: 0.3rem !important;
        padding: 0.6rem !important;
        font-size: 18px !important;
        font-weight: bold !important;
    }

    .navshrk {
        margin-right: 200px !important;
        position: relative !important;
    }

    .navbrbk {
        background-color: rgb(5, 0, 0) !important;
        z-index: -1 !important;
        backdrop-filter: blur(20px) !important;
        width: 200px !important;
    }

    .navbutn {
        width: 200px !important;
        font-size: 18px !important;
    }

    .logo {
        font-size: 3rem !important;
        color: white !important;
        font-weight: 800 !important;
        cursor: pointer !important;
        transition: 0.3s ease-in-out !important;
        margin: 0.8rem !important;
    }

    .logo:hover {
        transform: scale(1.1);
    }

    /* 
    .faq-content {
      margin-left: 200px !important;
      margin-right: 200px !important;
      position: relative !important;
      transition: 0.7s !important;
    } */

    .frmbtn {
        width: 140px !important;
        transition: 0.6s !important;
    }

    .foter {
        width: 100% !important;
        max-width: 991px !important;
    }
}

@media(min-width:600px) and (max-width:767px) {
    .crd-container {
        margin-left: 6rem;
    }

    .crd-content {
        flex-direction: column;
        width: 100%;
    }

    .crosel-img {
        width: 88% !important;
        border-style: solid !important;
        border-color: white !important;
        border-radius: 25px !important;

    }

    .bkfilter {
        background-color: rgba(90, 85, 85, 0.5);
        height: 100%;
        width: 100%;
        min-height: 100%;
        min-width: 100%;
        z-index: 0;
    }

    .navbr {
        width: 100% !important;
        min-width: 400px !important;
        height: 5vh !important;
        position: relative !important;
    }

    .nav-cont {
        margin-top: 0.3rem !important;
        padding: 0.6rem !important;
        font-size: 18px !important;
        font-weight: bold !important;
    }

    .navshrk {
        margin-right: 200px !important;
        position: relative !important;
    }

    .navbrbk {
        background-color: rgb(5, 0, 0, 0.8) !important;
        z-index: -1 !important;
        backdrop-filter: blur(20px) !important;
        width: 200px !important;
    }

    .navbutn {
        width: 200px !important;
        font-size: 18px !important;
    }

    .logo {
        font-size: 3rem !important;
        color: white !important;
        font-weight: 800 !important;
        cursor: pointer !important;
        transition: 0.3s ease-in-out !important;
        margin: 0.8rem !important;
    }

    .logo:hover {
        transform: scale(1.1);
    }

    /* 
    .faq-content {
      margin-left: 200px !important;
      margin-right: 200px !important;
      position: relative !important;
      transition: 0.7s !important;
    } */

    .frmbtn {
        width: 140px !important;
        transition: 0.6s !important;
    }

    .foter {
        width: 100% !important;
        max-width: 991px !important;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .crd-container {
        margin-left: 5rem;
    }

    .crd-content {
        flex-direction: column;
        width: 100%;
    }

    .crosel-img {
        width: 88% !important;
        border-style: solid !important;
        border-color: white !important;
        border-radius: 25px !important;

    }

    .navshrk {
        margin-right: 200px !important;
        position: relative !important;
        background-color: rgb(5, 0, 0) !important;
        padding: 5rem !important;
    }

    .navbutn {
        width: 200px !important;
        font-size: 18px !important;
        margin-left: 26rem !important;
    }
}

@media (max-width: 767px) {
    .crd-content {
        /* width: 50%; */
        flex-direction: column;
        gap: 10px;
        transition: 0.6s;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .crd-content {
        /* width: 40%; */
        flex-direction: column;
        gap: 15px;
        transition: 0.6s;
    }

}

@media(min-width:992px) and (max-width:1236px) {
    .crd-container {
        margin-left: 15% !important;
        /* margin-right: 15%!important; */
        margin-right: 30% !important;
        display: flex !important;
        flex-direction: row !important;
        justify-content: space-around !important;
        transition: 0.6s !important;
    }

    .navbr {
        width: 100% !important;
        min-width: 1200px !important;
        height: 3vh !important;
        position: relative !important;
    }

}


@media(max-width:991px) {
    .navbr {
        width: 100% !important;
        min-width: 400px !important;
        height: 30vh !important;
        position: relative !important;
    }

    .nav-cont {
        margin-top: 0.3rem !important;
        padding: 0.6rem !important;
        font-size: 18px !important;
        font-weight: bold !important;
    }

    .navshrk {
        margin-right: 200px !important;
        position: relative !important;
        background-color: rgb(5, 0, 0) !important;
        padding: 1rem !important;
    }

    .navbrbk {
        background-color: rgb(5, 0, 0) !important;
        z-index: -1 !important;
        backdrop-filter: blur(20px) !important;
        width: 200px !important;
    }

    .navbutn {
        width: 200px !important;
        font-size: 18px !important;
        margin-left: 6rem !important;
    }

    .logo {
        font-size: 3rem !important;
        color: white !important;
        font-weight: 800 !important;
        cursor: pointer !important;
        transition: 0.3s ease-in-out !important;
        margin: 0.8rem !important;
    }

    .logo:hover {
        transform: scale(1.1);
    }

    /* 
    .faq-content {
      margin-left: 200px !important;
      margin-right: 200px !important;
      position: relative !important;
      transition: 0.7s !important;
    } */

    .frmbtn {
        width: 140px !important;
        transition: 0.6s !important;
    }

    .foter {
        width: 100% !important;
        max-width: 1200px !important;
    }
}

@media(min-width:1237px) {
    .foter {
        width: 100% !important;
        max-width: 1600px !important;
    }
}

@media(min-width:992px) and (max-width:2000px) {

    .crd-container {

        margin-left: 7rem;
        margin-right: 15rem;
        margin-bottom: 10rem;
    }

    .crd-content {
        flex-direction: column;
        width: 100%;
    }

    .crosel-img {
        width: 100% !important;
        border-style: solid !important;
        border-color: white !important;
        border-radius: 25px !important;
    }


}